@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.level-a {
  border: 1px solid blue;
  padding: 5px
}

.level-b {
  border: 1px solid red;
  padding: 5px
}

.level-c {
  border: 1px solid green;
  padding: 5px
}

.key-code {
  font-size: 120px
}

.button-like {
  margin-left: 1rem;
}